/{
    bms_gpios: bms_gpios {
        compatible = "gpio-keys";
        
        vfb_air_pos: vfb_air_pos {
            gpios = <&gpioa 3 GPIO_ACTIVE_HIGH>;   /* PA3, V_FB_AIR_positive */
            label  = "V FB AIR positive";
        };
        
        vfb_air_neg: vfb_air_neg {
            gpios = <&gpioa 1 GPIO_ACTIVE_HIGH>;   /* PA1, V_FB_AIR_negative */
            label  = "V FB AIR negative";
        };
        vfb_pc_relay: vfb_pc_relay {
            gpios = <&gpioa 4 GPIO_ACTIVE_HIGH>;   /* PA4, V_FB_PC_Relay */
            label  = "V FB PC Relay";
        };
        charger_con: charger_con {
            gpios = <&gpioa 10 GPIO_ACTIVE_LOW>;   /* PA10, Charger_Con (active low) */
            label  = "Charger Connected";
        };
        precharge_en: precharge_en {
            gpios = <&gpiob 7 GPIO_ACTIVE_HIGH>;   /* PB7, Precharge_EN */
            label  = "Precharge Enable";
        };
        drive_air_pos: drive_air_pos {
            gpios = <&gpiob 4 GPIO_ACTIVE_HIGH>;   /* PB4, Drive AIR positive */
            label  = "Drive AIR positive";
        };
        drive_air_neg: drive_air_neg {
            gpios = <&gpiob 5 GPIO_ACTIVE_HIGH>;   /* PB5, Drive AIR negative */
            label  = "Drive AIR negative";
        };
        drive_precharge: drive_precharge {
            gpios = <&gpiob 6 GPIO_ACTIVE_HIGH>;   /* PB6, Drive Precharge Relay */
            label  = "Drive Precharge Relay";
        };
    };

    aliases {
        vfbairpositive  = &vfb_air_pos;
        vfbairnegative  = &vfb_air_neg;
        vfbpcrelay      = &vfb_pc_relay;
        chargerconnect    = &charger_con;
        prechargeenable   = &precharge_en;
        driveairpositive = &drive_air_pos;
        driveairnegative = &drive_air_neg;
        driveprecharge    = &drive_precharge;
    };
};


&can1 {
    status       = "okay";
    bitrate      = <500000>;
};
